body {
  background-image: url("/images/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #cccccc;
  margin: 0;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.navbar {
  display: flex;
  height: 40px;
  line-height: 50px;
  color: white;
  padding: 10px 5%;
  justify-content: space-between;
  align-items: center;
  font-family: "Gabarito", cursive;
  font-size: 18px;
}

.navbar li {
  display: inline;
  margin: 0 30px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar li a:hover {
  color: rgb(255, 225, 103);
}

.container {
  /* width: 100%; */
  max-width: 540px;
  background-color: rgb(255, 255, 255);
  margin: 100px auto 20px;
  padding: 30px 30px 70px;
  border-radius: 10px;
}

.container h2 {
  display: flex;
  align-items: center;
}
.container img {
  width: 30px;
  margin: 0 10px;
}

.input-list {
  display: flex;
  align-items: center;
  background-color: rgb(246, 233, 255);
  justify-content: space-between;
  border-radius: 10px;
  font-weight: 14px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  margin: none;
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgb(214, 127, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.input-list button :hover {
  background: rgb(168, 46, 224);
}

.list-container li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.list-container li::before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url("/images/circle.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #cccccc;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("/images/check.png");
}
